.card{
    /* background-color: #0F0F0F;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    border: 4px inset #F96F2E;
        border-radius: 9px 27px 18px 11px; */
        width: 300px;
  height: 400px;
  /* background: #0F0F0F; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background: rgba(141, 135, 135, 0.7);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(248, 79, 79, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f8f403;
    }
    
    .cardImg{
        margin-left: 5%;
        align-self: center;
        width: 190px;
    }
    
    .cardInfo{
        /* background-color: red; */
        -webkit-box-shadow: 19px 11px 26px 10px rgba(0, 0, 0, 0.78);
        box-shadow: 19px 11px 26px 10px rgba(0, 0, 0, 0.78);
        display: flex;
        font-family: "Comic Sans MS", cursive, sans-serif;
        letter-spacing: 1.8px;
        word-spacing: 1.6px;
        color: #E9EAEF;
        /* text-decoration: none; */
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        background-image: linear-gradient(to bottom, #45767c, #4f8eb5);
        /* background-color: #989898; */
        border-radius: 0px 40px 40px 0px;
        flex-direction: column;
        justify-content: space-around;
        width: 290px;
        font-size: 8px;
    }
    
    .titleStyle{
        background-color: #F6F6F6;
        border-radius: 20px;
        /* font-family: "Montserrat", sans-serif */
        text-decoration: none;
        justify-content: space-around;
            color: #252323;
            font-size: 0.9em;
            text-transform: uppercase;
            font-weight: 390%;
            font-size: 10px;
        
        
    }
    
    .titleStyle > a {
        justify-content: space-around;
            color: #0F0F0F;
            text-decoration: none;
            font-size: 1.0em;
            text-transform: uppercase;
            font-weight: 10px;
            /* display: inline-block; */
            width: 75px;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    }
    @keyframes scale-card {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      .cardInfo:hover {
        animation: scale-card 1s ease-out;
      }