.container{
    /* margin-top: 1px;
  margin-left: -3px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-flow: column;
  color: rgb(0, 0, 0); */
  /* background-color: rgb(103, 238, 161); */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 0%; */
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/719/318/non_2x/dog-paw-prints-and-bones-seamless-pattern-vector.jpg');
  background-size: cover;
  height: 700px;
}
.divProd{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}
.form{
  padding: 10rem;
  border: 2px solid black;
  width: 50%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #b6cdbf;
  /* background-color: rgba(150, 150, 150, 0.5);
  border: 1px solid #ccc; */
  /* border-radius: 5px;
  padding: 20px;
  width: 80%;  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 40rem; */
}
/* .label{
  display: inline-block;
  margin-bottom: 5px; 
  width: 20%;
} */
.crear{
  /* color: rgb(0, 0, 0);
  background-color: #2ea6eb;
  box-shadow: 5px 4px rgb(221, 197, 89);
  opacity: 0.8; */

  /* position: absolute; */
  /* position: fixed;
  top: 10%;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
  font-weight: 300;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  width: 17vh;
  height: 50px; */
  margin-right: -1rem;
  top: 100rem;
  background-color: #dd72f0;
  color: black;
  border-radius: 1em;
  font-size: 14px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  opacity: 0.7;

}
 .crear:hover {
  /* transform: scaleX(1.2) scaleY(1.3);
  box-shadow: 5px 4px rgb(9, 153, 237);
  opacity: 1; */

  color: #ffffff;
} 
/* .crear::before{
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  border-radius: 48px;
  background-image: linear-gradient(
    to right,
    #3bd9d9 0%,
    #b527cf 100%
  );
  transition: 0.5s ease;
  z-index: -1;
}*/
.crear:hover::before{
  width: 100%;
} 
.containerBtnHome{
    
}
.btnHome{
    margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid #038c73;
  padding: 10px 30px;
  color: #0d0d0d;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  border-radius: 10px;
}
.btnHome:hover {
    background-color: #014034;
    color: #fff;
  }
.p {
  font-size: 1.4rem;
}
.back{
  margin-right: -1rem;
  background-color: #dd72f0;
  color: black;
  border-radius: 1em;
  font-size: 15px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  opacity: 0.7;
}

.cta:hover {
  transform: translateY(-4px) translateX(-2px);
  /* box-shadow: 3px 6px 0 0 rgb(190, 82, 82); */
  opacity: 1;
  color: #f5f5f5;
}
 .btn{
  align-items: center;
  justify-content: space-evenly;
  width: 4rem;
  height: 1.5rem;
  color: #000000;
  background: rgb(255, 185, 111);
  opacity: 0.7;
  cursor: pointer;
}
/* .btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(246, 4, 4, 0.5);
  opacity: 1;
}
.btn:active { */
  /* transform: translateY(-1px); */
/*} */

/* .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
} */

/* .btn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0; */
/*}*/
.inputStyle{
    border: 4px solid #038c73;
  padding: 9px;
  margin: 390px;
  position: relative;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 6px;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  background-size: 50% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, #002720, #70f5e8, #fff);
}
.errors{
    color: red;
}
.btn01{
    /* margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid #038c73;
  padding: 10px 30px;
  color: #0d0d0d;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  border-radius: 10px; */
}
.btn01:hover {
    /* background-color: #014034;
    color: #fff; */
  }
