.back{

    /* background-color: rgba(1, 0, 0, 0.694); */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.list {
    display: inline-flex;
    
}
.list > button {
    box-shadow: inset 0px 0px 0px 0px #9cbfac;
    background: linear-gradient(to bottom, #0f0f0f 5%, #d1ded3 100%);
    background-color: #29445d;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9cbfac;
}

.list > button:hover {
    background: linear-gradient(to bottom, #9cbfac 5%, #9cbfac 100%);
    background-color: #9cbfac;
}

.list > button:active {
    position: relative;
    top: 1px;
}