.back_image{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/893/629/214/dogs-samoyed-dog-pet-hd-wallpaper-preview.jpg');    
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.divStyle{
    margin-top: 10%;
    opacity:  90%;
    background-color:#d3c7ca;
    border-radius: 18% 19% 32% 0% / 10% 12% 27% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}



.boton {
    /* margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: 2px solid #038c73;
  padding: 10px 30px;
  color: #0d0d0d;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  border-radius: 10px; */
    background: linear-gradient(to bottom, #E5989B 5%, #fcd68d 100%);
    background-color: #fcd68d;
    border: 2px solid #5E412F;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFCDB2;
    border-radius: 15px
}

.boton:hover {
    background: linear-gradient(to bottom, #E5989B 5%, rgba(151, 100, 102, 0.603) 100%);
    background-color: #E5989B;
}

.boton:active {
    position: relative;
    top: 1px;
}
.anuncio{
    color: #0f0f0f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    bottom: 0;
  width: center;
  height: 40px;
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    bottom: 0;
}